<%= form_with(model: oenologist, local: true) do |form| %>
  <% if oenologist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oenologist.errors.count, "error") %> prohibited this oenologist from being saved:</h2>

      <ul>
      <% oenologist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>
  <hr>

  <div class="field">
    <b><%= form.label :magazines %></b>
    <%= form.collection_check_boxes(:magazines, @magazines, :id, :name) do |m| %>
      <%= m.text %>
      <ul>
        <!-- Job  -->
        <%= form.collection_check_boxes("job_titles[#{m.value}]", @jobs_title, :id, :name) do |j| %>      
          <li> 
            <%= (@oenologist.oenologistmagazinejobs.where(magazine_id: m.value).pluck(:job_title_id).include? (j.value)) ? j.check_box({checked: true}) : j.check_box %>
            <%= j.text %>            
          </li>
        <% end %>
        
      </ul>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
